<!DOCTYPE html>
<!--index.html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short circuit calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/short_circuit_calculator.png') }}">
</head>
<body>
    <div class="top-bar">
        <div class="dropdown1">
            <button>File</button>
            <div class="dropdown1-content">
                <a>Export</a>
                <a>Save</a>
            </div>
        </div>
        <div class="dropdown1">
            <button>Edit</button>
            <div class="dropdown1-content">
                <a>Undo</a>
                <a>Redo</a>
            </div>
        </div>
        <div class="dropdown1">
            <button>Draw</button>
            <div class="dropdown1-content">
                <a id="drag-option">✔️ Drag</a>
                <a id="wire-option">Wire</a>
                <a id="transformer-option">Transformer</a>
                <a id="autotransformer-option">Autotransformer</a>
                <a id="generator-option">Synchronous Turbine Generator</a>
            </div>
        </div>
        <div class="dropdown2">
            <button>Settings</button>
            <div class="dropdown2-content">
                <a id="dark_mode-option">✔️ Dark mode</a>
                <a id="standard_mode-option">Standard mode</a>
            </div>
        </div>
        <div id="notifier-container"></div>
    </div>
    <div class="canvas-container">
        <canvas id="mainCanvas" width="1920" height="1080"></canvas>
    </div>
    <script src="{{ url_for('static', filename='js/notifier.js') }}"></script>
    <script src="{{ url_for('static', filename='js/elements.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvas_actions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropdown_logic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
</body>
</html>